<!DOCTYPE html>
<html>
	<head>
		<title>
			Pasig Ferry
		</title>
		<link rel = "stylesheet" type = "text/css" href = "resources/css/leaflet.css"/>
		<link rel = "stylesheet" type = "text/css" href = "resources/css/style.css?css=7">
		<script type = "text/javascript" src = "resources/js/jquery-3.2.1.js"></script>
		<script type = "text/javascript" src = "resources/js/leaflet.js"></script>
		<script type = "text/javascript" src = "resources/js/turf.js"></script>
		<script type = "text/javascript" src = "resources/js/script.js"></script>
	</head>
	<body onload = "onBootReload()">
		<div class = "container_wrap">
			<div class = "center">
				<div class = "center_top">
					<div id = "mapid"></div>
					<div id = "mapradar"></div>
				</div>
				<div class = "center_bottom_left">
					<h1>Current Destination:</h1>
					<h2 id = "cd" style = "color: #008000">--------------------------</h2>
					<h1>Distance:</h1>
					<h2 id = "ds" style = "color: #8A2BE2">--------------------------</h2>
					<h1>Est. Time of Arrival in:</h1>
					<h2 id = "sp"style = "color: #00BFFF">--------------------------</h2>
				</div>
				<div class = "center_bottom_right">
					<h1>Next Destination:</h1>
					<h2 id = "nd" style = "color: #008000">--------------------------</h2>
					<h1>Distance:</h1>
					<h2 id = "ns" style = "color: #8A2BE2">--------------------------</h2>
					<h1>Est. Time of Arrival in:</h1>
					<h2 id = "nt" style = "color: #00BFFF">--------------------------</h2>
				</div>
				<div class = "lat" id = "lat">
					Lat: 000.00000
				</div>
				<div class = "lng" id = "lng">
					Lng: 000.00000
				</div>
				<div class = "speed" id = "speed">
					Speed: 0.0 Kmh
				</div>
				<div class = "time" id = "time">
					Avg. Time: 00:00:00
				</div>
				<div class = "isMove" id = "isMove">
					Status: Stopped
				</div>
				<!--<button id = "mapbutton">START</button>-->
			</div>
			<div class = "right">
				<div class = "camera">
					<div class = "cam_head">CAMERA: NO. 1</div>
					<img src = "http://192.168.1.15:4001"></img>
				</div>
				<div class = "camera" style = "margin-top:40px;">
					<div class = "cam_head">CAMERA: NO. 2</div>
					<img src = "http://192.168.1.16:4002"></img>
				</div>
			</div>
		</div>
		<script>
			function onBootReload(){
				$(this).hide();
				$('#mapcover').hide();
				$('.center_bottom').show();
				getPoints();
				//getRoutesS1to2()
				station();
				setInterval('timer()',100);
				//setInterval('getRoutes()',1000);
				setInterval('current_location()',700);
				setInterval('CurrentAndNextDestination()',1000);
			}
		</script>
		<script type = "text/javascript" src = "services/map/map_service.js?js=6"></script>
		<script type = "text/javascript" src = "services/map/points_service.js?js=6"></script>
		<script type = "text/javascript" src = "services/map/route_service.js?js=7"></script>
		<script type = "text/javascript" src = "services/map/station_service.js?js=6"></script>
		<script type = "text/javascript" src = "services/map/heading_service.js?js=6"></script>
		<script type = "text/javascript" src = "services/map/radar_service.js?js=6"></script>
		<!--<script type = "text/javascript" src = "services/camera/camera_service.js?js=6"></script>-->
	</body>
</html>
