html,body{
	width: 100%;
	height: 100%;
	border: none;
	padding: none;
	background-color: #28AADC;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
}

img{
	width: 100%;
	height: 100%;	
}


#green,.green{
	background-color:green;
}

#red,.red{
	background-color:red;
}

i.name{
	display: block;
	font-style: normal;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 300;
	color:green;
}
i.distance{
	display: block;
	font-style: normal;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 300;
	color:black;
}

#speed,#time{
	position: absolute;
	left:15px;
	display: block;
	font-style: normal;
	font-size: 16px;
	padding:8px 15px 8px 15px;
	background-color:orange;
	text-transform: capitalize;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-weight: 700;
	border-radius:4px;
	width:160px;
	color:#000;
	opacity: 0.9;
	z-index: 9999;
}


#speed{
	bottom: 350px;
}

#time{
	bottom: 300px;
}

#lat,#lng{
	position: absolute;
	left:15px;
	display: block;
	font-style: normal;
	font-size: 16px;
	padding:8px 15px 8px 15px;
	background-color:yellow;
	text-transform: capitalize;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-weight: 700;
	border-radius:4px;
	width:160px;
	color:#000;
	opacity: 0.9;
	z-index: 9999;
}

#lat{
	bottom: 450px;
}

#lng{
	bottom: 400px;
}

#isMove{
	position: absolute;
	left:15px;
	bottom:250px;
	display: block;
	font-style: normal;
	font-size: 16px;
	padding:8px 15px 8px 15px;
	background-color: red;
	text-transform: capitalize;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	font-weight: 700;
	border-radius:4px;
	width:160px;
	color:#ffffff;
	opacity: 0.8;
	z-index: 9999;
}



.camera{
	display:block
	position:relative;
	float:left;
	width: 100%;
	height: 45%;
}

.camera button#camera_vid1{
	position: absolute;
	margin:auto;
	padding:10px;
	left:50%;
	top:26%;
	font-size:15px;
	transform: translate(-50%, -50%);
	cursor:pointer;
}

.camera button#camera_vid2{
	position: absolute;
	margin:auto;
	padding:10px;
	left:50%;
	top:76%;
	font-size:15px;
	transform: translate(-50%, -50%);
	cursor:pointer;
}



.camera .cam_head{
	width: 100%;
	float:left;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
}

.camera .number1{
	margin-top: 400px;
}

#mapid{
	position: absolute; 
	width: 100%; 
	height: 100%;
}

#mapradar{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 330px;
	height: 330px;
	border: 10px solid #28AADC;
	border-radius: 100%;
	z-index: 9999;
	background-color:#FFFFFF;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}


#mapbutton{
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	padding: 12px 22px 12px 22px;
	background:#28AADC;
	border:none;
	border-radius:5px;
	font-size:18px;
	font-weight:bold;
	color:#ffffff;
	cursor:pointer;
	z-index:9999;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#mapbutton:hover{
	opacity:0.8;
}


.container_wrap{
	position: relative;
	height: 100%;
	height: 100%;
	margin: auto;
	/*margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;*/
	border-radius: 5px;
	background-color: #FFFFFF;
}


.container_wrap .left{
	display: inline;
	position: relative;
	float: left;
	width: 27%;
	height: 100%;
	background-color: #f0f0f0;
}

.container_wrap .right{
	display: inline;
	position: relative;
	float: right;
	width: 25%;
	height: 100%;
	background-color: #f0f0f0;
	overflow:hidden;
}

.container_wrap .center{
	display: inline;
	position: relative;
	float: left;
	width: 75%;
	height: 100%;
	background-color: #f0f0f0;
}

.center .center_top{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color:#d0d0d0;
}

.center .center_bottom{
	display: none;
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	height: 160px;
	background-color:#FFFFFF;
	opacity: 0.8;
	z-index: 9999;
}

.center_bottom_left{
	position:absolute;
	left:15px;
	bottom:15px;
	background-color: #FFFFFF;
	width: 46.5%;
	padding:5px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	border-radius: 3px;
	z-index: 9999;
	opacity:0.8;
}

.center_bottom_right{
	position:absolute;
	right:15px;
	bottom:15px;
	background-color: #FFFFFF;
	width: 46.5%;
	padding:5px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	border-radius: 3px;
	z-index: 9999;
	opacity:0.8;
}

.speed{
	position:absolute;
	left:10px;
	bottom:410px;
	background-color: #FFFFFF;
	width: 45%;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	border-radius: 3px;
	z-index: 9999;
	opacity:0.8;
}

.timers{
	position:absolute;
	left:10px;
	bottom:370px;
	background-color: #FFFFFF;
	width: 45%;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	border-radius: 3px;
	z-index: 9999;
	opacity:0.8;
}

.center_bottom_left h1,
.center_bottom_right h1{
	display: block;
	font-size: 16px;
	padding: 8px 12px 3px 12px;
	font-weight: bolder;
}

.center_bottom_left h2,
.center_bottom_right h2{
	display: block;
	font-size: 20px;
	padding: 3px 12px 3px 12px;
	font-family: Verdana;
	text-transform:capitalize;
}
